 {
    margin: 0;
    padding: 0;
    font-family:Century;
}
 
ul{
	float: left;
	list-style-type:none
    margin= 50px;
}

ul li{
        display: inline-block;
}
ul li a{
    text-decoration:none;
    color:grey;
    padding: 5px 20px;
    border: 1px S solid black;    
}
ul li a:hover{
    background-color:white;
    color:greenyellow;
}
.logo img{
    float: left;
    width: 100px;
    height: auto; 
}
.main{
    max-width: 1200px;
    margin:auto;
}
/* .logo img{
    float: left;
    width: 100px;
    height: auto; */

.p{
    color: green;
}

.search{
    padding=15px 0
}
.two-coloum > .coloum-1 {
    width: 500px;
    display: left;
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    height: 400px;
    
    }


.two-coloum > .coloum-2 {
    width: 50px;
    display: inline-block
}
.btn > .btn-round-lg{
    border-radius: 22.5px;
    font-size: 20px;
    line-height: 30px; 
    color:rgb(63, 124, 2);
    width: 200;
    letter-spacing: .6px;
}
.S2-img{
    align-items: center;
    padding: 130px;
    padding-left: 110px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    padding: 130px;
    padding-left: 110px;
    bottom : 10px;
    left: 10px;
  }
  
  .container > .For-clients {
    position: absolute;
    padding: 130px;
    padding-left: 110px;
    color:rgb(255, 255, 255);
    font-size: 40px;
    top: 8px;
    left: 16px;
  }
  
  
  .centered {
    position: absolute;
    padding: 130px;
    padding-left: 110px;
    top: 5%;
    left: 10px;
}
.btn-round-lg{
    border-radius: 22.5px;
    }
    .btn-round-lg:hover{
        background-color: honeydew;
        color: green;
    }

    .btn-round{
    border-radius: 17px;
    }
    .btn-round{
        background-color: honeydew;
        color: green;
    }
    .btn-round-sm{
    border-radius: 15px;
    }
    .btn-round-sm{
        background-color: honeydew;
        color: green;
    }
    .btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
    }
    .btn-round-xs{
        background-color: honeydew;
        color: green;
    }
 
    .box {
        display: flex;
      }

      .one {
        flex: 1 1 auto;
      }

      .two {
        flex: 1 1 auto;
      }

      .three {
        flex: 1 1 auto;
      }
  

    .Section3 {
        display: flex;
      }

      .box > .bottom-left {
        flex: 1 1 auto;
      }

      .Section3 >   .two {
        flex: 50%;
      }

    .Section3 > .one {
        flex: 50%;
      }
      .Section3 > .one > h2 :hover{
        background-color:white;
        color:greenyellow;
      }
      .Section3 > .one > ul li a {
      font-size: 35px;
    width: 42%;
    margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 0px;
      }

      .Section4 {
       display: flex;
       flex-direction: row;
                      }
      .Section4 > .Section4_one{
          flex:50%;
      }
      .Section4 > .Section4_two{
        flex:50%;
      }

      /*.Section4_two {
        display: flex;
                               }
        .Section4_two > .Section4_two > .Section_two_01{
           flex:33%;
       }
       .Section4_two > .Section4_two > .Section_two_02{
         flex:33%;
       }
       .Section4_two > .Section4_two > .Section_two_03{
        flex:33%;
      } */
